@model Queue<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            <p>@item</p>
        }
    </div>
</body>
</html>
