<div class="container">
    <div class="row">
        <div class="h1 my-4 p-5 bg-danger">
            <h1>Employee Monitoring System</h1>
        </div>
        <nav class="nav navbar navbar-expand-sm">
            <ul class="navbar-nav">
                <li class="nav-item btn btn-info">
                    <a class="nav-link" routerLink="/employees/admin">View All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary btn-sm" routerLink="/employees/add">
                        <i class="fa fa-plus-circle"></i>
                        Add New
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link btn btn-secondary btn-sm" routerLink="admin/Dashboard">
                            <i class="fa fa-dashboard"></i>
                            Dashboard
                        </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link btn btn-secondary btn-sm" routerLink="admin/User">
                            <i class="fa fa-user"></i>
                            User
                        </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link btn btn-secondary btn-sm" routerLink="admin/Rights">
                            <i class="fa fa-plus-circle"></i>
                            User
                        </a>
                </li>
                        
            </ul>
        </nav>
    </div>
</div>
