<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="dllFile" value="D:\Starmark-Training\Dotnet Programming\CompleteDotnetTraining\AdvancedProgramming\ClassLibrary1\bin\Debug\CSharpLib.dll"/>
  </appSettings>
</configuration>