@model SampleMvcApp.Models.Employee

<h1>The Name: @Model.EmployeeName</h1>
<hr />
<p>The Employee EMail: @Model.EmployeeEmail</p>
<p>The Employee Salary: @Model.EmployeeSalary</p>
<p>The Employee ID: @Model.EmployeeId</p>

